.password-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.password-wrapper input {
    width: 100%;
    padding-right: 40px !important; /* Espaço para o ícone não ficar em cima do texto */
}

.password-toggle-btn {
    position: absolute;
    right: 5px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #777;
    font-size: 1.2rem;
    outline: none;
}

.password-toggle-btn:hover {
    color: #333;
}

.password-toggle-btn svg {
    width: 20px;
    height: 20px;
    stroke: #777;
    stroke-width: 2;
}

.password-toggle-btn:hover svg {
    stroke: #e26b03;
}